#ifndef WIFI_CRED_CONFIG
#define WIFI_CRED_CONFIG

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_SERVER ""

#endif
